@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.top-bar {
  width: 100%;
  max-height: 11vh;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
}

.homeNav{
  background-color: transparent;
  box-shadow: none;
}

.top-bar li {
  margin-left: 60px;
  list-style-type: none;
}
.nav {
  margin: 0 auto;
  width: 75%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.nav li {
  display: inline;
  margin: 0 1em;
}

.nav a {
  text-decoration: none;
  color: #bacbd3;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: #f3f2ff;
}

.home {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #5D4157;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A8CABA, #5D4157);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A8CABA, #5D4157);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('https://i.imgur.com/PXz9l2t.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content2 {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stuff {
  margin: 0 auto;
  padding: 10vh 0;
  background-color: white;
  width: 80%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 320px;
  height: 340px;
  background-color: black;
  margin: 10px;
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.6);
}

.pic {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.desc {
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
}

.desc p {
  color: #373737;
  margin: 0 0 0 0.75em;
  width: 90%;
}

.desc a {
  color: #373737;
  margin: 0.6em auto;
  padding: 0.4em 2em;
  border: 2px solid #373737;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
}

.desc a:hover {
  border-color: #bacbd3;
  background-color: #373737;
  color: #bacbd3;
}

.thumbnail:hover .pic {
  height: 60%;
}

.thumbnail:hover .desc {
  height: 40%;
}

#pic1 {
  background-image: url(https://i.imgur.com/fRXR8vT.jpg)
}

#pic2 {
  background-image: url(https://i.imgur.com/pqKk7is.jpg)
}

#pic3 {
  background-image: url(https://i.imgur.com/fZd7aHm.jpg)
}

#pic4 {
  background-image: url(https://i.imgur.com/5q9seBN.jpg)
}

#pic5 {
  background-image: url(https://i.imgur.com/QFgAvlQ.jpg)
}

#pic6 {
  background-image: url(https://i.imgur.com/LaLS5HR.jpg)
}

#pic7 {
  background-image: url(https://i.imgur.com/PcIeVLE.jpg)
}

#pic8 {
  background-image: url(https://i.imgur.com/IQdjiiZ.jpg)
}

#pic9 {
  background-image: url(https://i.imgur.com/JuyDIge.jpg)
}

#pic14 {
  background-image: url(https://i.imgur.com/JsNlSjQ.jpg)
}

#pic11 {
  background-image: url(https://i.imgur.com/efRWI3y.jpg)
}

#pic12 {
  background-image: url(https://i.imgur.com/5UkevM0.jpg)
}
#pic16 {
  background-image: url(https://i.imgur.com/O5sHF5x.jpg)
}
#pic17 {
  background-image: url(https://i.imgur.com/qFn9uYn.jpg)
}
#pic18 {
  background-image: url(https://i.imgur.com/5UkevM0.jpg)
}
#pic19 {
  background-image: url(https://i.imgur.com/komUTyN.jpg)
}
#pic20 {
  background-image: url(https://i.imgur.com/kcOrNHd.jpg)
}
#pic21 {
  background-image: url(https://i.imgur.com/AfK2fvk.jpg)
}
#pic22 {
  background-image: url(https://i.imgur.com/XgYPHqL.jpg)
}
#pic23 {
  background-image: url(https://i.imgur.com/rZFZq46.jpg)
}
#pic24 {
  background-image: url(https://i.imgur.com/unam2uo.jpg)
}
#pic25 {
  background-image: url(https://i.imgur.com/ZCIhQBU.jpg)
}
#pic26 {
  background-image: url(https://i.imgur.com/PFmnEab.jpg)
}
#pic27 {
  background-image: url(https://i.imgur.com/4wTKkHJ.jpg)
}
#pic28 {
  background-image: url(https://i.imgur.com/djY32CA.jpg)
}

.contact {
  margin: 0 auto;
  padding: 10vh 0;
  background: #757F9A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D7DDE8, #757F9A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonbox {
  width: 50%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonborder {
  width: 95%;
  background-color: transparent;
  text-align: center;
  border: 0.2em solid #373737;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.buttonborder:hover {
  background-color: #373737;
}

#mail a {
  font-size: 2.5vmax;
}

.buttonborder a {
  display: block;
  text-decoration: none;
  color: #373737;
  font-size: 2.5vmax;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buttonborder a:hover {
  color: #bacbd3;
}

.footer {
  width: 100%;
  min-height: 10vh;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer p {
  color: #bacbd3;
  margin: 0;
  width: 88%;
  text-align: right;
}

.home h1 {
  margin: 0.4em;
  color: #d7d9e8;
  font-weight: 100;
  font-size: 7vmax;
  width: 100%;
  text-align: center;
  
  text-shadow: 1px 0px 8px rgba(150, 150, 150, 1);
}

.home h2 {
  margin: 0.4em;
  color: #d7d9e8;
  font-size: 26px;
  font-weight: 100;
  width: 60%;
  text-align: center;
  
  text-shadow: 1px 0px 8px rgba(41,44,41, 1);
}
.contact h1 {
  margin: 0.4em;
  color: #373737;
  font-size: 5vmax;
  width: 100%;
  text-align: center;
}


.stuff h2,
.contact h2 {
  margin: 0.4em 0.4em 1.7em 0.4em;
  color: #373737;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

.desc h2 {
  color: #373737;
  margin: 0 0 0 0.5em;
  width: 90%;
  text-align: left;
  font-size: 1.5em;
}

.footer a {
  color: #bacbd3;
}

@media only screen and (max-width:880px) {
  .nav {
    width: 100%;
    padding: 0 1em 0 0;
  }
  .nav li {
    margin: 0 0.3em;
  }
  .nav a {
    font-size: 12px;
  }
  .top-bar a {
    font-size: 12px;
  }
  .nav a:hover {
    color: #bacbd3;
  }
  .nav a:active {
    color: #f3f2ff;
  }
  .home h2,
  .contact h2 {
    font-size: 18px;
    width: 90%;
  }
  .lang:hover {
    transform: scale(1, 1)
  }
  .lang:active {
    transform: scale(1.3, 1.3)
  }
  .stuff {
    width: 100%;
  }
  .thumbnail {
    transform: scale(0.9, 0.9);
    margin: 0;
  }
  .content2 {
    width: 100%;
  }
  .buttonborder {
    width: 80%;
    border-width: 0.1em;
  }
  .buttonbox {
    width: 100%;
  }
  #mail a {
    font-size: 1.9vmax
  }
}
@media (max-width: 800px) {
  .icon-footer {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .thumbnail {
    transform: scale(0.9, 0.9);
    margin: 0;
  }
}