@import "../../../assets/css/mixins";
@import "../../../assets/css/vars";

.btn-group {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  @include aTagBtnBaseStyle;
  @include aTagBtnGibson;
  &--center {
    justify-content: center;
  }
  .a-tag-btn.gibson-one,
  .a-tag-btn.gibson-two,
  .a-tag-btn.gibson-three,
  .a-tag-btn.gibson-four {
    @include buttonColorAnimation;
    margin: 0 10px 0;
    color: $white;
    font-size: 1em;
    border-radius: 3px;
    width: 126px;
    display: flex;
    font-weight: 400;
    padding: $spacing-sm;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px $grey, 1px 1px 5px $grey;
  }
  &__btn {
    &__icon {
      transition: all 0.5s ease-in-out;
      padding-right: 3px;
      font-size: 1.5em;
      &--link {
        padding-left: $spacing-sm;
        font-size: 1em;
      }
      &--selected {
        text-shadow: 1px 1px 8px $white;
      }
    }
    &__text {
      transition: all 0.5s ease-in-out;
      &--selected {
        text-shadow: 1px 1px 8px $white;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:hover & {
      &__text {
        text-shadow: 1px 1px 8px $white;
      }
      &__icon {
        text-shadow: 1px 1px 8px $white;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .btn-group {
    justify-content: center;
    &__btn {
      display: flex;
      flex-direction: column;
    }
  }
}
