@import "../../assets/css/mixins";
@import "../../assets/css/vars";

.projects-wrapper {
  min-height: 100vh;
}

.down-arrow-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.category {
  padding-top: 35px;
  @include aTagBtnBaseStyle;
  @include aTagBtnSandy;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  user-select: none;
  width: 500px;
  .a-tag-btn.sandy-one,
  .a-tag-btn.sandy-two,
  .a-tag-btn.sandy-three,
  .a-tag-btn.sandy-four {
    cursor: pointer;
    font-size: 1.2em;
    padding: 8px 25px;
    color: $btn-color7;
    &:hover {
      text-shadow: 0 0 2px #fff7f7, 0 0 3px #fff7f7, 0 0 5px #fff7f7,
        0 0 30px $btn-color, 0 0 10px $btn-color;
    }
  }
}
@include maxMediaQueries(800px) {
  .category {
    width: 500px;
    .a-tag-btn.sandy-one,
    .a-tag-btn.sandy-two,
    .a-tag-btn.sandy-three,
    .a-tag-btn.sandy-four {
      padding: 5px 5px;
      font-size: 0.8em;
    }
  }
}
@include maxMediaQueries(650px) {
  .category {
    width: 350px;
    .a-tag-btn.sandy-one,
    .a-tag-btn.sandy-two,
    .a-tag-btn.sandy-three,
    .a-tag-btn.sandy-four {
      padding: 3px 3px;
      font-size: 0.7em;
    }
  }
}

@include maxMediaQueries(500px) {
  .category {
    padding-top: 65px;
  }
}
