@import "../../assets/css/mixins";
@import "../../assets/css/vars";

.home-page {
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(329deg, #535eb4, #4e8da5, #449467, #6f51aa);
  background-size: 800% 800%;
  animation: bgColor 30s ease infinite;
  &::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
  }
}

.landing {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__intro {
    margin: 0.4em;
    margin-top: 5em;
    color: $white;
    font-size: 2vmax;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-align: center;
  }
  &__typing {
    margin-bottom: 36px;
    margin: 36px auto 56px;
    color: $white;
    font-size: 26px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    width: 30em;
    animation: type 6.5s steps(60, end);
    animation-delay: 0.3s;
    &__line {
      animation: blink 1s infinite;
    }
  }
  &__link {
    color: white;
    margin: 0.4em;
    width: 100%;
    text-align: center;
    margin-bottom: 10em;
    &__icon {
      opacity: 0.7;
      margin: 0 16px 24px;
      text-decoration: none;
      color: white;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
        text-shadow: 0 0 1px #fff7f7, 0 0 5px #fff7f7, 0 0 30px #fff7f7;
      }
    }
  }
}

@keyframes bgColor {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}

@keyframes type {
  from {
    width: 0px;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@include maxMediaQueries(880px) {
  .landing__typing {
    font-size: 18px;
    width: 90%;
  }
}
