@import "./navbar";
@import "./transparentNavbar";

@include maxMediaQueries(880px) {
  .transparent-navbar,
  .navbar {
    width: 100%;
    padding: 0 1em 0 0;
    &__list {
      margin: 0 0.3em;
      &__item {
        &__link {
          font-size: 12px;
        }
      }
    }
  }
}
