.navbar-container {
  width: 100%;
  max-height: 11vh;
  background-color: $white;
  box-shadow: 1px 1px 2px $navShadow, 2px 2px 8px $navShadow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  color: $white;
}

.navbar {
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  &__list {
    &__item {
      display: inline;
      margin: 0 1em;
      margin-left: 60px;
      list-style-type: none;
      &__link {
        text-decoration: none;
        color: $black;
        font-size: 15px;
        font-weight: bold;
        transition: all 0.3s ease;
        opacity: 0.8;
        padding: 15px 4px;
        &:hover {
          opacity: 0.9;
          color: $btn-color;
          text-shadow: 0 0 1px #fff7f7, 0 0 3px #fff7f7, 0 0 5px #fff7f7,
            0 0 30px $btn-color;
        }
      }
    }
  }
}
