@import "../../assets/css/vars.scss";
@import "../../assets/css/mixins.scss";
/* ring config*/
$diameter: 560px; // size control // diameter
$diameter-small: 380px; // size control // diameter small

$radio: ($diameter/2); // radio
$negative-radio: -($radio);
$radio-small: ($diameter-small/2); // radio small
$negative-radio-small: -($radio-small);

$border: ($radio/8); // border
$negative-border: -($border);
$acceleration: 10s; // accelerate
$acceleration-2: 15s; // accelerate
$acceleration-3: 20s; // accelerate
$ring-opacity: 0.7; // opacity

$landing-ring-color1: rgba(100, 219, 193, $ring-opacity);
$landing-ring-color2: rgba(155, 142, 228, $ring-opacity);
$landing-ring-color3: rgba(116, 138, 236, $ring-opacity);
$landing-ring-color4: rgba(112, 204, 152, $ring-opacity);
$landing-ring-color5: rgba(36, 181, 152, $ring-opacity);
$landing-ring-color6: rgba(61, 145, 229, $ring-opacity);
$landing-ring-color7: rgba(61, 145, 229, $ring-opacity);
$landing-ring-color8: rgba(114, 148, 221, $ring-opacity);
$landing-ring-color9: rgba(103, 212, 148, $ring-opacity);
$landing-ring-color10: rgba(101, 209, 177, $ring-opacity);

.landing-wrapper {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-ring {
  color: #dcdce2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: $negative-radio;
  margin-top: $negative-radio;
  width: $diameter;
  height: $diameter;
  text-align: center;
  line-height: $diameter;
  -webkit-font-smoothing: antialiased;
  transition: all 1s ease-in-out;
  border-radius: 100%;
  animation: ringColor 30s infinite, rotar $acceleration -0s linear infinite,
    ring1fadeInOut 30s infinite;
}
.landing-ring:after,
.landing-ring:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.landing-ring:after {
  animation: ringColor 30s infinite, rotar2 $acceleration-2 -0s linear infinite,
    ring1fadeInOut 30s infinite;
}
.landing-ring:before {
  animation: ringColor 30s infinite, rotarIz $acceleration-3 -0s linear infinite,
    ring2fadeInOut 30s infinite;
}

.landing-content {
  animation: wordfadeIn 3s ease-in;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  color: $superdarkgrey;
  text-align: center;
  position: relative;
  &__intro {
    font-size: 2.5em;
    width: 100%;
  }
  &__desc {
    font-size: 1.5em;
    width: 100%;
  }
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(0.9);
  }
  50% {
    transform: rotateZ(180deg) scaleX(0.85) scaleY(0.95);
  }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(0.9);
  }
}
@keyframes rotar2 {
  0% {
    transform: rotateZ(0deg) scaleX(0.9) scaleY(0.95);
  }
  50% {
    transform: rotateZ(180deg) scaleX(1) scaleY(1.1);
  }
  100% {
    transform: rotateZ(360deg) scaleX(0.9) scaleY(0.95);
  }
}
@keyframes rotarIz {
  0% {
    transform: rotateZ(0deg) scaleX(0.85) scaleY(1.05);
  }
  50% {
    transform: rotateZ(-180deg) scaleX(0.9) scaleY(0.95);
  }
  100% {
    transform: rotateZ(-360deg) scaleX(0.85) scaleY(1.05);
  }
}
@keyframes wordfadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ring1fadeInOut {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes ring2fadeInOut {
  0% {
    opacity: 1.1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1.1;
  }
}
@keyframes ringColor {
  0% {
    box-shadow: inset 0 $border 0 $landing-ring-color1,
      inset $border 0 0 $landing-ring-color1,
      inset 0 $negative-border 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1,
      inset $border $negative-border 0 $landing-ring-color2;
  }
  7% {
    box-shadow: inset 0 $border 0 $landing-ring-color1,
      inset $border 0 0 $landing-ring-color1,
      inset 0 $negative-border 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color2,
      inset $border $negative-border 0 $landing-ring-color3;
  }
  14% {
    box-shadow: inset 0 $border 0 $landing-ring-color1,
      inset $border 0 0 $landing-ring-color1,
      inset 0 $negative-border 0 $landing-ring-color2,
      inset $negative-border 0 0 $landing-ring-color3,
      inset $border $negative-border 0 $landing-ring-color4;
  }
  21% {
    box-shadow: inset 0 $border 0 $landing-ring-color1,
      inset $border 0 0 $landing-ring-color2,
      inset 0 $negative-border 0 $landing-ring-color3,
      inset $negative-border 0 0 $landing-ring-color4,
      inset $border $negative-border 0 $landing-ring-color5;
  }
  28% {
    box-shadow: inset 0 $border 0 $landing-ring-color2,
      inset $border 0 0 $landing-ring-color3,
      inset 0 $negative-border 0 $landing-ring-color4,
      inset $negative-border 0 0 $landing-ring-color5,
      inset $border $negative-border 0 $landing-ring-color6;
  }
  35% {
    box-shadow: inset 0 $border 0 $landing-ring-color3,
      inset $border 0 0 $landing-ring-color4,
      inset 0 $negative-border 0 $landing-ring-color5,
      inset $negative-border 0 0 $landing-ring-color6,
      inset $negative-border 0 0 $landing-ring-color7;
  }
  42% {
    box-shadow: inset 0 $border 0 $landing-ring-color4,
      inset $border 0 0 $landing-ring-color5,
      inset 0 $negative-border 0 $landing-ring-color6,
      inset $negative-border 0 0 $landing-ring-color7,
      inset $negative-border 0 0 $landing-ring-color8;
  }
  49% {
    box-shadow: inset 0 $border 0 $landing-ring-color5,
      inset $border 0 0 $landing-ring-color6,
      inset 0 $negative-border 0 $landing-ring-color7,
      inset $negative-border 0 0 $landing-ring-color8,
      inset $negative-border 0 0 $landing-ring-color9;
  }
  58% {
    box-shadow: inset 0 $border 0 $landing-ring-color6,
      inset $border 0 0 $landing-ring-color7,
      inset 0 $negative-border 0 $landing-ring-color8,
      inset $negative-border 0 0 $landing-ring-color9,
      inset $negative-border 0 0 $landing-ring-color10;
  }
  66% {
    box-shadow: inset 0 $border 0 $landing-ring-color7,
      inset $border 0 0 $landing-ring-color8,
      inset 0 $negative-border 0 $landing-ring-color9,
      inset $negative-border 0 0 $landing-ring-color10,
      inset $negative-border 0 0 $landing-ring-color1;
  }
  75% {
    box-shadow: inset 0 $border 0 $landing-ring-color8,
      inset $border 0 0 $landing-ring-color9,
      inset 0 $negative-border 0 $landing-ring-color10,
      inset $negative-border 0 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1;
  }
  83% {
    box-shadow: inset 0 $border 0 $landing-ring-color9,
      inset $border 0 0 $landing-ring-color10,
      inset 0 $negative-border 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1;
  }
  92% {
    box-shadow: inset 0 $border 0 $landing-ring-color10,
      inset $border 0 0 $landing-ring-color1,
      inset 0 $negative-border 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1;
  }
  100% {
    box-shadow: inset 0 $border 0 $landing-ring-color1,
      inset $border 0 0 $landing-ring-color1,
      inset 0 $negative-border 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1,
      inset $negative-border 0 0 $landing-ring-color1;
  }
}

@media screen and (max-width: $MQ-lg) {
  .landing-ring {
    margin-left: $negative-radio-small;
    margin-top: $negative-radio-small;
    width: $diameter-small;
    height: $diameter-small;
    line-height: $diameter-small;
  }
  .landing-content {
    font-size: 0.8em;
  }
}

@media screen and (max-width: $MQ-sm) {
  .landing-ring {
    margin-left: $negative-radio-small * 0.8;
    margin-top: $negative-radio-small * 0.8;
    width: $diameter-small * 0.8;
    height: $diameter-small * 0.8;
    line-height: $diameter-small * 0.8;
  }
  .landing-content {
    font-size: 0.65em;
  }
}
