@import "../../assets/css/vars.scss";
@import "../../assets/css/mixins.scss";

.about-wrapper {
  text-align: center;
  &__title {
  }
  &__intro {
    font-size: 1.2em;
  }
}

.social {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  &__box {
    width: 110px;
    margin: 0 0;
    display: flex;
    justify-content: center;
    margin: 20px;
    &__border {
      width: 95%;
      background-color: transparent;
      text-align: center;
      @include aTagBtnBaseStyle;
      @include aTagBtnVictoria;
      .a-tag-btn.victoria-one,
      .a-tag-btn.victoria-two,
      .a-tag-btn.victoria-three,
      .a-tag-btn.victoria-four {
        border-radius: 2px;
        padding: 20px 10px;
        text-transform: none;
        border-color: $darkgrey;
      }
      &__btn {
        &__icon {
          font-size: 2.5em;
          color: $darkgrey;
        }
        &__name {
          font-size: 1em;
          color: $darkgrey;
        }
      }
      &:hover {
        .a-tag-btn.victoria-one,
        .a-tag-btn.victoria-two,
        .a-tag-btn.victoria-three,
        .a-tag-btn.victoria-four {
          @include cubicTransition;
          border-color: #23ecc7;
          background: #23ecc7;
          box-shadow: 0 0 3px #23ecc7, 0 0 5px #23ecc7, 0 0 10px #23ecc7,
            0 0 20px #23ecc7, 0 0 40px #23ecc7;
        }
      }
      &:hover & {
        &__btn {
          &__icon {
            color: #fff;
            font-weight: bold;
          }
          &__name {
            color: #fff;
          }
        }
      }
    }
  }
}

@include maxMediaQueries(975px) {
  .about-wrapper {
    &__title {
      font-size: 25px;
    }
    &__intro {
      margin: 0 auto;
      width: 85%;
    }
  }
}

@include minMediaQueries(976px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 38vw;
    margin: 0 3vw;
  }
}
