@import "../../assets/css/vars.scss";
@import "../../assets/css/mixins.scss";

$form-body-width: 55%;

.contacts-form {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: ($navbar-height * 2);
  &__title {
    width: 100%;
  }
}

.form-subject {
  margin: 0 auto 0;
  font-size: 1.2em;
  width: $form-body-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
  &__to {
    display: flex;
    margin: 0;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
    &__h4 {
      padding-right: 48px;
      font-size: 1.2em;
      font-weight: 300;
      margin: auto 0;
      &__email {
        padding: $spacing-sm;
        font-size: 1.2em;
      }
      &__copy-btn {
        transition: all 0.3s ease;
        user-select: none;
        font-size: 0.9em;
        padding: 2px;
        margin: 0 3px;
        border: 1px solid $grey;
        border-radius: 2px;
        color: $grey;
        margin-left: auto;
        min-width: 110px;
        &:hover {
          cursor: pointer;
          color: $btn-color;
          border: 1px solid $btn-color;
        }
        &--copied {
          width: 98px;
          color: $btn-color6;
          border: 1px solid $btn-color6;
          &:hover {
            color: $btn-color6;
            border: 1px solid $btn-color6;
          }
        }
      }
    }
  }
  &__section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &__h4 {
      margin: auto 0;
      padding-right: 17px;
    }

    &__input {
      border: 1px solid $lightgrey;
      border-radius: 2px;
      width: 100%;
      padding: $spacing-sm;
    }
  }
}

.form-body {
  margin: 0 auto 0;
  font-size: 1.2em;
  height: 40%;
  min-height: 150px;
  width: $form-body-width;
  margin-top: 10px;
  display: flex;
  &__h4 {
    padding-right: 10px;
  }
  &__text {
    resize: none;
    padding: 2px;
    border: 1px solid $lightgrey;
    border-radius: 2px;
    width: 100%;
    height: 95%;
    min-height: 150px;
  }
}
.form-send {
  margin: 0 auto 0;
  margin-top: 10px;
  font-size: 1.2em;
  width: $form-body-width;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &__h4 {
    padding-right: 34px;
  }
  &__mail-addr {
    width: 100%;
    border: 1px solid $lightgrey;
    border-radius: 2px;
    padding: $spacing-sm;
    margin-right: 15px;
    min-width: 200px;
  }
  &__btn {
    margin: 0 auto 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 29px;

    background: transparent;
    color: $superdarkgrey;
    border: 1px solid $superdarkgrey;
    border-radius: 2px;

    user-select: none;
    &__icon {
      transition: all 0.3s ease;
      opacity: 0;
      width: 0;
      color: $btn-color;
    }
    &__text {
      margin: auto 0;
    }
    &:hover {
      cursor: pointer;
      color: $btn-color;
      border: 1px solid $btn-color;
      .form-send {
        &__btn {
          &__icon {
            opacity: 1;
          }
          &__text {
          }
        }
      }
    }
    &:focus {
      cursor: pointer;
      .form-send {
        &__btn {
          &__icon {
            transition: all 1.5s ease-out;
            margin-left: 250px;
            opacity: 0;
          }
          &__text {
            position: absolute;
            opacity: 1;
          }
        }
      }
    }
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $MQ-xxxl) {
  .form-subject {
    width: 75%;
  }
  .form-body {
    width: 75%;
  }
  .form-sender {
    width: 75%;
  }
  .form-send {
    width: 75%;
  }
}

@media screen and (max-width: $MQ-xl) {
  .form-subject {
    width: 85%;
  }
  .form-body {
    width: 85%;
  }
  .form-sender {
    width: 85%;
  }
  .form-send {
    width: 85%;
  }
}

@media screen and (max-width: $MQ-md) {
  .contacts-form {
    font-size: 0.85em;
  }

  .form-subject {
    width: 95%;
  }
  .form-body {
    width: 95%;
  }
  .form-sender {
    width: 95%;
  }
  .form-send {
    width: 95%;
    &__btn {
      font-size: 0.95em;
      min-width: 120px;
      height: 22px;
    }
  }
}
