@import "../../assets/css/vars.scss";
@import "../../assets/css/mixins.scss";

.about-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__box {
    width: 110px;
    margin: 0 0;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    &__border {
      width: 95%;
      background-color: transparent;
      text-align: center;
      @include aTagBtnBaseStyle;
      @include aTagBtnVictoria;
      .a-tag-btn.victoria-one,
      .a-tag-btn.victoria-two,
      .a-tag-btn.victoria-three,
      .a-tag-btn.victoria-four {
        border-radius: 2px;
        padding: 20px 10px;
        text-transform: none;
        border: 2px solid $superdarkgrey;
        user-select: none;
        text-shadow: 1px 1px 4px $grey;
        @include buttonColorAnimation;
      }
      &__btn {
        &__icon {
          @include cubicTransition;
          font-size: 2.5em;
        }
        &__name {
          @include cubicTransition;
          font-size: 1em;
          font-weight: 400;
        }
      }
      &:hover {
        .a-tag-btn.victoria-one,
        .a-tag-btn.victoria-two,
        .a-tag-btn.victoria-three,
        .a-tag-btn.victoria-four {
          border-color: $bright-teal;
          background: $bright-teal;
        }
      }
      &:hover & {
        &__btn {
          &__icon {
            color: #fff;
            text-shadow: 1px 1px 8px $white;
          }
          &__name {
            color: #fff;
          }
        }
      }
    }
  }
}
