
@media only screen and (max-width:880px) {
    .nav {
      width: 100%;
      padding: 0 1em 0 0;
    }
    .nav li {
      margin: 0 0.3em;
    }
    .nav a {
      font-size: 12px;
    }
    .top-bar a {
      font-size: 12px;
    }
    .nav a:hover {
      color: #bacbd3;
    }
    .nav a:active {
      color: #f3f2ff;
    }
    .home h2,
    .contact h2 {
      font-size: 18px;
      width: 90%;
    }
    .lang:hover {
      transform: scale(1, 1)
    }
    .lang:active {
      transform: scale(1.3, 1.3)
    }
    .stuff {
      width: 100%;
    }
    .thumbnail {
      transform: scale(0.9, 0.9);
      margin: 0;
    }
    .content2 {
      width: 100%;
    }
    .buttonborder {
      width: 80%;
      border-width: 0.1em;
    }
    .buttonbox {
      width: 100%;
    }
    #mail a {
      font-size: 1.9vmax
    }
  }
  @media (max-width: 800px) {
    .icon-footer {
      display: none;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .thumbnail {
      transform: scale(0.9, 0.9);
      margin: 0;
    }
  }