@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import "var";
@import "mixins";
@import "./components/navbar/index";
@import "./components/footer/index";
@import "./components/home/index";
@import "./components/showcase/index";
@import "./components/aboutpage/index";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #3d3d3d;
}
