//var
$black : #1f243b;
$navShadow: #c6c6c6;
$white: #fff;
$btn-color:rgb(86, 171, 177);
$btn-color2:rgb(168, 194, 211);
$btn-color3:rgb(74, 113, 114);
$btn-color4:#83aec2;
$btn-color5: #62c4e2;
$btn-color6: #2f8085;