@import "./vars.scss";

@mixin maxMediaQueries($arg...) {
  @if length($arg) ==1 {
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) ==2 {
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }
}

@mixin minMediaQueries($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}
/* Transition Animation */
@mixin cubicTransition {
  transition: all 700ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}

/* background color animation */

@mixin bgColorAnimation {
  background-color: $background-color1;
  animation: bgColor 40s infinite;
}
@mixin buttonColorAnimation {
  border-color: $background-color1;
  animation: bgColor 40s infinite, borderColor 40s infinite;
}

@keyframes bgColor {
  0% {
    background-color: $background-color1;
  }
  9% {
    background-color: $background-color1;
  }
  18% {
    background-color: $background-color2;
  }
  27% {
    background-color: $background-color3;
  }
  36% {
    background-color: $background-color4;
  }
  45% {
    background-color: $background-color5;
  }
  54% {
    background-color: $background-color6;
  }
  63% {
    background-color: $background-color7;
  }
  72% {
    background-color: $background-color8;
  }
  81% {
    background-color: $background-color9;
  }
  90% {
    background-color: $background-color10;
  }
  100% {
    background-color: $background-color1;
  }
}

@keyframes borderColor {
  0% {
    border-color: $background-color1;
  }
  9% {
    border-color: $background-color1;
  }
  18% {
    border-color: $background-color2;
  }
  27% {
    border-color: $background-color3;
  }
  36% {
    border-color: $background-color4;
  }
  45% {
    border-color: $background-color5;
  }
  54% {
    border-color: $background-color6;
  }
  63% {
    border-color: $background-color7;
  }
  72% {
    border-color: $background-color8;
  }
  81% {
    border-color: $background-color9;
  }
  90% {
    border-color: $background-color10;
  }
  100% {
    border-color: $background-color1;
  }
}

/* Base style for <a> tag button */
@mixin aTagBtnBaseStyle {
  .a-tag-btn,
  .a-tag-btn:visited {
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
  }
  .a-tag-btn:after,
  .a-tag-btn:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    transition: all 0.75s ease 0s;
  }
  .a-tag-btn:hover,
  .a-tag-btn:visited:hover {
    color: #fff;
    text-shadow: none;
  }
  .a-tag-btn:hover:after,
  .a-tag-btn:visited:hover:after {
    height: 450%;
  }
  .a-tag-btn,
  .a-tag-btn:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
  }
}

/* Sandy Buttons */

@mixin aTagBtnSandy() {
  .a-tag-btn.sandy-one {
    border: 2px solid #a8d3d3;
    color: #fff;
  }
  .a-tag-btn.sandy-one:after {
    border: 3px solid #a8d3d3;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  .a-tag-btn.sandy-one:hover:after {
    height: 120% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.sandy-two {
    border: 2px solid #a8d3d3;
    color: #fff;
  }
  .a-tag-btn.sandy-two:after {
    border: 3px solid #a8d3d3;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
  .a-tag-btn.sandy-two:hover:after {
    height: 600% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.sandy-three {
    border: 2px solid #a8d3d3;
    color: #fff;
  }
  .a-tag-btn.sandy-three:after {
    border: 3px solid #a8d3d3;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  .a-tag-btn.sandy-three:hover:after {
    height: 400% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.sandy-four {
    border: 2px solid #a8d3d3;
    color: #fff;
  }
  .a-tag-btn.sandy-four:after {
    border: 3px solid #a8d3d3;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) rotate(25deg);
  }
  .a-tag-btn.sandy-four:hover:after {
    height: 400% !important;
    opacity: 1;
    color: #fff;
  }
}

/* Victoria Buttons */

@mixin aTagBtnVictoria {
  .a-tag-btn.victoria-one {
    border: 2px solid #a8d3d3;
  }
  .a-tag-btn.victoria-one:after {
    background: #a8d3d3;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  .a-tag-btn.victoria-two {
    border: 2px solid #a8d3d3;
  }
  .a-tag-btn.victoria-two:after {
    background: #a8d3d3;
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
  }
  .a-tag-btn.victoria-three {
    border: 2px solid #a8d3d3;
  }
  .a-tag-btn.victoria-three:after {
    background: #a8d3d3;
    opacity: 0.5;
    transform: translateX(-50%) translateY(-50%);
  }
  .a-tag-btn.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
  }
  .a-tag-btn.victoria-four {
    border: 2px solid #a8d3d3;
  }
  .a-tag-btn.victoria-four:after {
    background: #a8d3d3;
    opacity: 0.5;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
  .a-tag-btn.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
  }
}

/* Gibson Buttons */

@mixin aTagBtnGibson() {
  .a-tag-btn.gibson-one {
    border: 2px solid #65b37a;
    color: #fff;
  }
  .a-tag-btn.gibson-one:after {
    opacity: 0;
    background-image: -webkit-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-image: -moz-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-size: 10px 10px;
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
  }
  .a-tag-btn.gibson-one:hover:after {
    height: 600% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.gibson-two {
    border: 2px solid #65b37a;
    color: #fff;
  }
  .a-tag-btn.gibson-two:after {
    opacity: 0;
    background-image: -webkit-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-image: -moz-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-size: 10px 10px;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  .a-tag-btn.gibson-two:hover:after {
    height: 600% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.gibson-three {
    border: 2px solid #65b37a;
    color: #fff;
  }
  .a-tag-btn.gibson-three:after {
    opacity: 0;
    background-image: -webkit-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-image: -moz-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-size: 10px 10px;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  .a-tag-btn.gibson-three:hover:after {
    height: 600% !important;
    opacity: 1;
    color: #fff;
  }
  .a-tag-btn.gibson-four {
    border: 2px solid #65b37a;
    color: #fff;
  }
  .a-tag-btn.gibson-four:after {
    opacity: 0;
    background-image: -webkit-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-image: -moz-linear-gradient(
      transparent 50%,
      rgba(101, 179, 122, 0.2) 50%
    );
    background-size: 10px 10px;
    transform: translateX(-50%) translateY(-50%);
  }
  .a-tag-btn.gibson-four:hover:after {
    height: 600% !important;
    opacity: 1;
    color: #fff;
  }
}

/* Thar Buttons */

@mixin aTagBtnThar() {
  .a-tag-btn.thar-one {
    color: #fff;
    cursor: pointer;
    border: 2px solid #f7ca18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .a-tag-btn.thar-one:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: none;
  }
  .a-tag-btn.thar-one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }
  .a-tag-btn.thar-one:before {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: "";
    color: #000 !important;
    background: #f7ca18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .a-tag-btn.thar-two {
    color: #fff;
    cursor: pointer;
    border: 2px solid #f7ca18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .a-tag-btn.thar-two:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: ntwo;
  }
  .a-tag-btn.thar-two:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
  }
  .a-tag-btn.thar-two:before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: "";
    color: #000 !important;
    background: #f7ca18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .a-tag-btn.thar-three {
    color: #fff;
    cursor: pointer;
    border: 2px solid #f7ca18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
  .a-tag-btn.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
  }
  .a-tag-btn.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
  }
  .a-tag-btn.thar-three:before {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: "";
    color: #000 !important;
    background: #f7ca18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
  .a-tag-btn.thar-four {
    color: #fff;
    cursor: pointer;
    border: 2px solid #f7ca18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
  .a-tag-btn.thar-four:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nfour;
  }
  .a-tag-btn.thar-four:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
  }
  .a-tag-btn.thar-four:before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: "";
    color: #000 !important;
    background: #f7ca18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
}
