/* sizes */

$footerheight: 30px;
$navbarheight: 50px;

/* colors */
$superwhite: #fff;
$white: #fafafa;
$superlightgrey: #e0e0e0;
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$superdarkgrey: #292929;
$black: #161616;
$superblack: #000;

$lightbubblegreen: #16e76d;
$bubblegreen: #00e45f;

$purple: #4e3a4c;
$darkpurple: #3e313c;

$red: rgb(255, 89, 89);

$dark_nav_link_color: #292929;

$bright-teal: #31dad1;
$light-bright-teal: #a2ffe0;
$light-teal: rgb(127, 253, 232);
$super-light-teal: rgb(183, 233, 231);
$light-orange: rgb(247, 215, 214);

$btn-color: rgb(86, 171, 177);
$btn-color2: rgb(168, 194, 211);
$btn-color3: rgb(74, 113, 114);
$btn-color4: #83aec2;
$btn-color5: #62c4e2;
$btn-color6: #2f8085;
$btn-color7: #226364;
