/* Media Queries Break Point*/

$MQ-sm: 450px;
$MQ-md: 600px;
$MQ-lg: 800px;
$MQ-xl: 1000px;
$MQ-xxl: 1200px;
$MQ-xxxl: 1400px;

/* sizes */

$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
$font-size-xxxl: 36px;

$footer-height: 30px;
$navbar-height: 100px;
$navbar-height-MQ-md: 50px;

$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

/* other base style */
$background-opacity: 0.8; // opacity

/* colors */
$superwhite: #fff;
$white: #fafafa;
$superlightgrey: #e0e0e0;
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$superdarkgrey: #292929;
$black: #161616;
$superblack: #000;

$lightbubblegreen: #16e76d;
$bubblegreen: #00e45f;

$purple: #4e3a4c;
$darkpurple: #3e313c;

$red: rgb(255, 89, 89);

$dark_nav_link_color: #292929;

$bright-teal: #31dad1;
$light-bright-teal: #a2ffe0;
$light-teal: rgb(127, 253, 232);
$super-light-teal: rgb(183, 233, 231);
$light-orange: rgb(247, 215, 214);

$btn-color: rgb(86, 171, 177);
$btn-color2: rgb(168, 194, 211);
$btn-color3: rgb(74, 113, 114);
$btn-color4: #83aec2;
$btn-color5: #62c4e2;
$btn-color6: #2f8085;
$btn-color7: #226364;

$background-color1: rgba(100, 219, 193, $background-opacity);
$background-color2: rgba(155, 142, 228, $background-opacity);
$background-color3: rgba(116, 138, 236, $background-opacity);
$background-color4: rgba(112, 204, 152, $background-opacity);
$background-color5: rgba(36, 181, 152, $background-opacity);
$background-color6: rgba(61, 145, 229, $background-opacity);
$background-color7: rgba(61, 145, 229, $background-opacity);
$background-color8: rgba(114, 148, 221, $background-opacity);
$background-color9: rgba(103, 212, 148, $background-opacity);
$background-color10: rgba(101, 209, 177, $background-opacity);
