
.contact {
    margin: 0 auto;
    padding: 10vh 0;
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonbox {
    width: 50%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonborder {
    width: 95%;
    background-color: transparent;
    text-align: center;
    border: 0.2em solid #373737;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .buttonborder:hover {
    background-color: #373737;
  }
  
  #mail a {
    font-size: 2.5vmax;
  }
  
  .buttonborder a {
    display: block;
    text-decoration: none;
    color: #373737;
    font-size: 2.5vmax;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .buttonborder a:hover {
    color: #bacbd3;
  }
  

.contact h1 {
    margin: 0.4em;
    color: #373737;
    font-size: 5vmax;
    width: 100%;
    text-align: center;
  }
  .contact h2 {
    margin: 0.4em 0.4em 1.7em 0.4em;
    color: #373737;
    font-size: 26px;
    width: 100%;
    text-align: center;
  }