.footer {
    width: 100%;
    min-height: 5vh;
    background: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer p {
    color: #000;
    margin: 0;
    width: 88%;
    text-align: right;
}

.footer a {
    color: #000;
}