.home {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(329deg, #535eb4, #4e8da5, #449467, #6f51aa);
  background-size: 800% 800%;
  -webkit-animation: bgColor 30s ease infinite;
  -moz-animation: bgColor 30s ease infinite;
  animation: bgColor 30s ease infinite;
}

.home::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: absolute; //   background-image:
  //   url(https://confluence.siteworx.com/download/attachments/133038218/boat.svg?api=v2),
  //  url(https://confluence.siteworx.com/download/attachments/133038218/landscape.svg?api=v2), 
  //     linear-gradient(#f2c9d4 0%, #ffffff 50%, #fff075 55%, #ffffc7 55%, #ffe396 70%, #ffd4c2 90%);
  //   background-repeat: no-repeat;
  //   background-size: 54%, 100%, 100%;
  //   background-position: 50% 100%, 0 50%;
  //   opacity: 0.5;
  z-index: -1;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content2 {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .fa {
  margin: 0 16px 24px;
  text-decoration: none;
  color: white;
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}

.home h1 {
  margin: 0.4em;
  color: #fff;
  font-size: 3vmax;
  width: 100%;
  text-align: center;
}

.home #introduction {
  margin-bottom: 36px;
  margin: 36px auto 56px;
  color: #fff;
  font-size: 26px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
}

.home .contact-icons {
  margin: 0em;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.home .arrow {
  margin: 0.4em;
  margin-top: 10em;
  opacity: 0.6;
  width: 100%;
  text-align: center;
}

.home #line {
  animation: blink 1s infinite;
}

@-webkit-keyframes bgColor {
  0% {
    background-position: 0% 23%
  }
  50% {
    background-position: 100% 78%
  }
  100% {
    background-position: 0% 23%
  }
}

@-moz-keyframes bgColor {
  0% {
    background-position: 0% 23%
  }
  50% {
    background-position: 100% 78%
  }
  100% {
    background-position: 0% 23%
  }
}

@keyframes bgColor {
  0% {
    background-position: 0% 23%
  }
  50% {
    background-position: 100% 78%
  }
  100% {
    background-position: 0% 23%
  }
}

@keyframes type {
  from {
    width: 0px;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}