#skillset-container{
    display: flex;
}
  
  section.IconsPage {
    width: 90%;
    margin-top: 100px;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .IconsPage .icon-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  
  .IconsPage .icon-container .col {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    padding: 50px 0;
  }
  
  @media (max-width: 449px) {
    .IconsPage .icon-container .col {
      padding: 20px 0;
    }
  }
  
  //icons 
  @media (max-width: 800px) {
    section.footer {
      display: none;
    }
  }
  
  .footer h3 {
    font-weight: 200;
    text-transform: uppercase;
    color: #6A798A;
    width: 70%;
    margin: auto;
  }
  
  .icon-container {
    width: 70%;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
  }
  
  .footer h3 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .tech-icon {
    height: 50px;
    width: 50px;
  }
  
  .tech-icon svg {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-transform 0.2s, -webkit-filter 0.2s;
    transition: -webkit-transform 0.2s, -webkit-filter 0.2s;
    -o-transition: transform 0.2s, filter 0.2s;
    transition: transform 0.2s, filter 0.2s;
    transition: transform 0.2s, filter 0.2s, -webkit-transform 0.2s, -webkit-filter 0.2s;
  }
  
  .tech-icon svg:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  
  .tech-icon span {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  
  .tech-icon svg:hover + span {
    opacity: 1;
  }