@import "../../assets/css/mixins";
@import "../../assets/css/vars";

.contact-page {
  background: transparent;
  &__upper {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
  }

  &__lower {
    padding-top: 5vh;
    min-height: 52vh;
    display: flex;
    padding-bottom: 7.2vh;
  }
}

@include maxMediaQueries(975px) {
  .contact-page__lower {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
}
