.thumbnail {
    width: 280px;
    height: 300px;
    background-color: transparent;
    margin: 10px;
    transition: all 0.3s ease;
    -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.1);
}

.pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.desc {
    width: 100%;
    height: 0%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $white;
    p {
        margin: 0 0 0 0.75em;
        font-size: 0.9em;
        width: 90%;
    }
    h2 {
        margin: 0 0 0 0.5em;
        width: 90%;
        font-weight: bold;
        text-align: left;
        font-size: 1.3em;
    }
    a {
        margin: 0.6em auto;
        padding: 0.4em 2em;
        @include cubicTransition;
        display: block;
        text-decoration: none;
        border-radius: 1px;
        color: $btn-color;
        box-shadow: $btn-color4 0 0px 0px 2px inset;
        font-weight: bold;
    }
    a:hover {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: $btn-color 0 0px 0px 50px inset;
        text-shadow: 0 0 10px #fff7f7, 0 0 20px #fff7f7, 0 0 30px #fff7f7, 0 0 40px $btn-color4;
    }
}

.thumbnail:hover .pic {
    height: 60%;
}

.thumbnail:hover .desc {
    height: 40%;
}

@include maxMediaQueries(880px) {
    #all-showcase {
        width: 100%;
    }
    .thumbnail {
        transform: scale(0.9, 0.9);
        margin: 0;
    }
}

#pic1 {
    background-image: url(https://i.imgur.com/fRXR8vT.jpg)
}

#pic2 {
    background-image: url(https://i.imgur.com/1ALK248.jpg)
}

#pic3 {
    background-image: url(https://i.imgur.com/KOzFIo8.jpg)
}

#pic4 {
    background-image: url(https://i.imgur.com/5q9seBN.jpg)
}

#pic5 {
    background-image: url(https://i.imgur.com/QFgAvlQ.jpg)
}

#pic6 {
    background-image: url(https://i.imgur.com/LaLS5HR.jpg)
}

#pic7 {
    background-image: url(https://i.imgur.com/ahxa5Ih.jpg)
}

#pic8 {
    background-image: url(https://i.imgur.com/IQdjiiZ.jpg)
}

#pic9 {
    background-image: url(https://i.imgur.com/zrOlOmJ.jpg)
}

#pic14 {
    background-image: url(https://i.imgur.com/JsNlSjQ.jpg)
}

#pic11 {
    background-image: url(https://i.imgur.com/efRWI3y.jpg)
}

#pic16 {
    background-image: url(https://i.imgur.com/yQtrYOS.jpg)
}

#pic20 {
    background-image: url(https://i.imgur.com/kcOrNHd.jpg)
}

#pic21 {
    background-image: url(https://i.imgur.com/AfK2fvk.jpg)
}

#pic22 {
    background-image: url(https://i.imgur.com/XgYPHqL.jpg)
}

#pic23 {
    background-image: url(https://i.imgur.com/rZFZq46.jpg)
}

#pic24 {
    background-image: url(https://i.imgur.com/unam2uo.jpg)
}

#pic25 {
    background-image: url(https://i.imgur.com/ZCIhQBU.jpg)
}

#pic26 {
    background-image: url(https://i.imgur.com/PFmnEab.jpg)
}

#pic27 {
    background-image: url(https://i.imgur.com/4wTKkHJ.jpg)
}

#pic28 {
    background-image: url(https://i.imgur.com/oTav3zw.jpg)
}

#pic31 {
    background-image: url(https://i.imgur.com/8NTOFWp.jpg)
}

#pic32 {
    background-image: url(https://i.imgur.com/XBqtgN0.jpg)
}

#pic33 {
    background-image: url(https://i.imgur.com/0PGuzEg.jpg)
}

#pic34 {
    background-image: url(https://i.imgur.com/dEHI4j2.jpg)
}