@import './allShowcase';
@import './defaultShowcase';
@import './showcaseImg';
#showcase-container {
}

#showcase-title {
  margin:0;
  padding-top:50px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}


#category-btn-container {
  @include aTagBtnBaseStyle;
  @include aTagBtnSandy;
  display: flex;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 20px;
  width:450px;

  .a-tag-btn.sandy-one,
  .a-tag-btn.sandy-two,
  .a-tag-btn.sandy-three,
  .a-tag-btn.sandy-four{
    cursor: pointer;
    padding: 8px 15px;
    color: $btn-color7;
    &:hover{
      text-shadow: 0 0 2px #fff7f7, 0 0 3px #fff7f7, 0 0 5px #fff7f7, 0 0 30px $btn-color, 0 0 10px $btn-color;
    }
  }
}
@include maxMediaQueries(800px){
  
#category-btn-container{
  width:350px;
  .a-tag-btn.sandy-one,
  .a-tag-btn.sandy-two,
  .a-tag-btn.sandy-three,
  .a-tag-btn.sandy-four{
    padding: 5px 5px;
    font-size: 0.8em;
  }
}
}
@include maxMediaQueries(650px){
  
#category-btn-container{
  width:280px;
  .a-tag-btn.sandy-one,
  .a-tag-btn.sandy-two,
  .a-tag-btn.sandy-three,
  .a-tag-btn.sandy-four{
    padding: 3px 3px;
    font-size: 0.7em;
  }
}
}