.footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 3vh auto -4vh;
  &__nav {
    background: transparent;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 2px $navShadow, -2px -2px 8px $navShadow;
    &__copyright {
      margin: 0;
      text-align: center;
    }
  }
}
