@import "../../assets/css/vars.scss";
@import "../../assets/css/mixins.scss";

.navbar-wrapper {
  height: $navbarheight;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: #535eb4;
  animation: bgColor 60s infinite;
  &__nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    &__ul {
      display: flex;
      &__li {
        list-style: none;
        margin: 3px 15px;
        &__link {
          font-size: 1.3em;
          transition: all 0.3s ease;
          font-weight: 600;
          color: $white;
          text-decoration: none;
          &:hover {
            color: $white;
            text-shadow: 0 0 1px $white, 0 0 5px $white, 0 0 30px $white;
          }
          &--active {
            color: $white;
            text-shadow: 0 0 1px $white, 0 0 5px $white, 0 0 30px $white;
          }
        }
      }
    }
  }
}

@keyframes bgColor {
  0% {
    background-color: #535eb4;
  }
  33% {
    background-color: #4e8da5;
  }
  66% {
    background-color: #449467;
  }
  100% {
    background-color: #6f51aa;
  }
}
@include maxMediaQueries(880px) {
}
