@import "../../../assets/css/mixins";
@import "../../../assets/css/vars";

.showcases-item-wrapper {
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.showcase-content {
  display: flex;
  min-height: 80vh;
  width: 100vw;
  margin: 20px;
  justify-content: flex-start;
  &__main {
    display: flex;
    margin: 0 auto;
    width: 98%;
    &__img-section {
      min-width: 50%;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      @include bgColorAnimation;
      background: linear-gradient(
        45deg,
        #fff 0%,
        #fff 20%,
        transparent 20%,
        transparent 40%,
        #fff 40%,
        #fff 100%
      );
      &__img {
        transition: all 0.3s ease;
        height: 500px;
        box-shadow: 0 0 20px $grey;
        &--large {
          height: 650px;
        }
      }
    }
    &__detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.3s ease;
      &__desc {
        display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.15em;
        margin: auto;
        &--pushup {
          justify-content: flex-start;
        }
        &__header {
          &__name {
            font-size: 1.4em;
          }
          &__time {
            font-weight: 300;
          }
          &__tech-stack {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            &__bold {
              width: 100%;
            }
            &__item {
              margin-bottom: 0;
              &__dot {
                padding: 0 5px;
              }
            }
          }
        }

        &__text {
          margin: 15px 0px;
          white-space: pre-line;
          font-size: 0.9em;
          &--intro {
            font-size: 1em;
            line-height: 1.45;
          }
        }
      }
    }
  }
}
@include maxMediaQueries(1300px) {
  .showcase-content {
    &__main {
      width: 100%;
      flex-direction: column;
      &__img-section {
        width: 90%;
        margin: 0 auto;
        min-height: 500px;
        &__img {
          height: 420px;
          &--large {
            height: 480px;
          }
        }
        margin-bottom: 20px;
      }
      &__detail {
        width: 90%;
        margin: 0 auto;
        justify-content: flex-start;
        &__desc {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 20px;
          &__header {
            &__title {
              text-align: center;
            }
            &__name {
              text-align: center;
            }
            &__text {
              font-size: 1.1em;
            }
          }

          &__tech-stack {
            &__bold {
            }
            &__item {
            }
          }
          &__user-story {
            &__item {
            }
          }
        }
      }
    }
  }
}

@include maxMediaQueries(850px) {
  .showcase-content {
    width: 100%;
    &__main {
      width: 100%;
      &__img-section {
        margin: auto;
        min-width: 90%;
        &__img {
          height: 380px;
          &--large {
            height: 420px;
          }
        }
      }
      &__detail {
        width: 90%;
        margin: 0 auto;
        &__desc {
          font-size: 1.15em;
        }
      }
    }
  }
}

@include maxMediaQueries(650px) {
  .showcase-content {
    width: 100%;
    &__main {
      width: 100%;
      &__img-section {
        margin: auto;
        min-width: 90%;
        &__img {
          height: 90%;
          width: 90%;
          &--large {
            height: 90%;
          }
        }
      }
      &__detail {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  .showcase-content {
    &__main {
      width: 100%;
      &__detail {
        &__desc {
          font-size: 1em;
        }
      }
    }
  }
}
