@import "../../assets/css/vars.scss";

.footer {
  height: auto !important;
  margin: 30px auto -30px;
  &__nav {
    height: $footerheight;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 2px $superlightgrey, -2px -2px 8px $superlightgrey;

    &__copyright {
      margin-left: 10px;
    }
  }
}
