@import './contacts';
@import './emailform';
@import './skillset';
@import './skillsetcol';
#upper-about-section {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
}

#lower-about-section {
  min-height: 55vh;
  display: flex;
}

#email-form-container {
  padding: 3vw;
}

#contact-container {
  padding: 3vw;
}

@include maxMediaQueries(975px) {
  #lower-about-section {
    display: flex;
    flex-direction: column;
  }
}

@include minMediaQueries(976px) {
  #email-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 60vw;
    margin: 0 5vw;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 40vw;
  }
}