@import './contacts';
@import './emailform';
@import './skillset';
@import './skillsetcol';
#about {
  background: transparent;
}

#upper-about-section {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
}

#lower-about-section {
  padding-top: 5vh;
  min-height: 60vh;
  display: flex;
}

#contact-container {
  margin: 1vw;
}

#email-form-container {
  margin: 1vw;
}

@include maxMediaQueries(975px) {
  #lower-about-section {
    display: flex;
    flex-direction: column;
  }
}

@include minMediaQueries(976px) {
  #email-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 35vw;
    margin: 0 3vw;
  }
  #contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 45vw;
    margin: 0 3vw;
  }
}