
 
#contact-container {
  text-align: center;
}
#social-contact {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact-title {
  width: 45vw;
  margin:0;
}

.buttonbox {
  width: 50%;
  margin: 0 0;
  display: flex;
  justify-content: center;
}

.buttonborder {
  width: 95%;
  background-color: transparent;
  text-align: center;
}

.buttonborder {
  @include aTagBtnBaseStyle;
  @include aTagBtnVictoria;
  i {
    color: #383838;
    font-size: 2vmax;
  }
  p{
    color: #383838;
  }
  .a-tag-btn.victoria-one,
  .a-tag-btn.victoria-two,
  .a-tag-btn.victoria-three,
  .a-tag-btn.victoria-four{
    border-radius:3px;
    padding: 5px 10px;
    text-transform: none;
    border-color: #383838;
  }
  &:hover{
    i {
    color:#fff;
    }
    p{
      color:#fff;
    }
    .a-tag-btn.victoria-one,
    .a-tag-btn.victoria-two,
    .a-tag-btn.victoria-three,
    .a-tag-btn.victoria-four{
      border-color: $btn-color4;
    }
  }
}


@include maxMediaQueries(975px) {
    #about-me-title {
      font-size: 25px;
    }
  #contact-title {
    width: 90vw;
    text-align: center;
    font-size: 25px;
  }
  #social-contact {
    width: 100%;
  }
  .buttonborder {
    width: 75%;
    border-width: 0.1em;
    p {
      font-size: 2.5vmax;
    }
    i {
      font-size: 5vmax;
    }
  }
  .buttonbox {
    width: 100%;
    align-items: center;
  }
}