input,
textarea {
    border: 0.1em solid #000;
    background: transparent;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    width: 35vw;
    box-sizing: border-box;
    margin: 0.8em auto;
    resize: none;
    outline: none;
}

#email-form-container {
    text-align: center;
    button {
        color: #000;
        background: transparent;
        border: 0.1em solid #000;
        border-radius: 3px;
        outline: none;
        font-size: 20px;
        padding: 0.2em 1.5em;
        margin: 0.5em auto;
        cursor: pointer;
        &:hover {
            background-color: #000;
            color: #bacbd3;
        }
    }
}
@include maxMediaQueries(975px) {
    input,
    textarea {
        width: 75vw;
    }
    #email-form-title{
        margin-top:1em;
        font-size: 25px
    }
}