input,
textarea {
    border: 2px solid #3f4877;
    background: transparent;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    width: 35vw;
    box-sizing: border-box;
    margin: 0.8em auto;
    resize: none;
    outline: none;
}
.buttonborder a {
    display: block;
    font-size: 1.2vmax;
    -webkit-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    border-radius: 4px;
    color: #3f4877;
    box-shadow: #3f4877 0 0px 0px 1px inset;
  }
 
  .buttonborder a:hover {
     color: rgba(255, 255, 255, 0.85);
     box-shadow: #3f4877 0 0px 0px 40px inset;
  }
 
#email-form-container {
    text-align: center;
    button {
        display: block;
        font-size: 1.5vmax;
        -webkit-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -moz-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -ms-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -o-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        display: block;
        text-decoration: none;
        border-radius: 4px;
        color: #3f4877;
        box-shadow: #3f4877 0 0px 0px 1px inset;
        border: none;
        background: transparent;
        outline: none;
        padding: 0.2em 1.5em;
        margin: 0.5em auto;
        cursor: pointer;
        &:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: #3f4877 0 0px 0px 40px inset;
        }
    }
}
@include maxMediaQueries(975px) {
    input,
    textarea {
        width: 75vw;
    }
    #email-form-title{
        margin-top:1em;
        font-size: 25px
    }
    #email-form-container {button{
        font-size: 3vmax;

    }}
}