input,
textarea {
    border: 0.1em solid #000;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    width: 500px;
    box-sizing: border-box;
    margin: 1em auto;
    resize: none;
    outline: none;
}

.email-form-container {
    margin:5vh 5vw 0 5vw;
    button {
        color: #000;
        background: #fff;
        border: 0.1em solid #000;
        border-radius: 3px;
        outline: none;
        font-size: 20px;
        font-weight: bold;
        padding: 0.2em 1.5em;
        margin: 1em auto;
        cursor: pointer;
        &:hover {
            color: rgba(169, 211, 173, 1);
            background: #fff;
        }
    }
}