@media (min-width: 799px) {
    section.icons-col-section {
      display: none;
    }
  }
  
  section.icons-col-section {
    width: 100%;
    margin-top: 60px;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .icons-col-section .icon-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .icons-col-section .tech-icon {
    height: 50px;
    width: 50px;
  }
  
  
  .icons-col-section .icon-container .col {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    padding: 45px 0;
  }
  .icons-col-section h3{
      text-align: center;
      font-size: 15px;
  }