.all-showcase {
  margin: 0 auto;
  padding: 10px 0;
  width: 95%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  animation: fadein 1s;
  &__list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include maxMediaQueries(880px) {
  .all-showcase {
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
